@charset "utf-8";

@media (min-width:1200px){
}
@media (min-width:992px) and (max-width:1199px){
.pro_logo span:nth-child(2) {padding: 15px 20px 15px 50px;}
span.msg_content {display: block;width: 100%;}
.for_fix div.divTableCell:nth-child(1) {width: 8%;}
.for_fix div.divTableCell:nth-child(2) {width: 34%;}
.for_fix div.divTableCell:nth-child(3) {width: 40%;}
.scroll_bar .divTableCell:nth-child(2) {width: 34%;}
.for_fix div.divTableCell:nth-child(4) {width: 18%;}
.divTableCell span,.btn-action {font-size: 14px;}
}
@media (min-width:568px) and (max-width:991px){
header .col-sm-4{padding-top: 0px;}
.top_head .top_title{font-size: 14px;}
div#myCarousel .item a {padding: 5px;font-size: 12px;}
footer {height: 40px;}
.pro_logo span:nth-child(2) {padding: 15px 20px 15px 50px;}
span.msg_content {display: block;width: 100%;}
.for_fix div.divTableCell:nth-child(1) {width: 8%;}
.for_fix div.divTableCell:nth-child(2) {width: 33%;}
.for_fix div.divTableCell:nth-child(3) {width: 35%;}
.for_fix div.divTableCell:nth-child(4) {width: 24%;}
.divTableCell span,.btn-action {font-size: 14px;}
.logo_left{width: 38%;float: left;}
.logo_center{width: 24%;float: left;}
.logo_right{width: 37%;float: left;}
}
@media (max-width:479px){
header .col-sm-4 img{width:100%;}
header .col-sm-4{padding-top: 0px;}
.logo_left{width: 33%;float: left;}
.logo_center{width: 33%;float: left;}
.logo_right{width: 33%;float: left;}
}
@media (min-width:641px) and (max-width:767px){
}
@media (min-width:481px) and (max-width:640px){
}
@media (max-width:480px){
}
@media (max-width:320px){
}