<div class="list-entry" >
        <div class="divTable">
            <div class="divTableBody for_fix">
                <div class="divTableRow top_head animated bounceInRight">
                    <div class="divTableCell top_title">Clients</div>
                    <div class="divTableCell top_title"><img src="assets/images/bell.png" class="faa-shake animated" /> Alert name</div>
                    <div class="divTableCell top_title"><img src="assets/images/send.png" class="faa-tada animated" /> Message</div>
                    <div class="divTableCell top_title action_anim"><img class="faa-spin animated" src="assets/images/action.png" /> Actions</div>
                </div><!--divTableRow-->
            </div><!--divTableBody-->
            <div class="divTableBody scroll_bar cus_scroll"  id="sc_row">
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo1.png" /></span> </div>
                    <div class="divTableCell"><span>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested</span></div>
                    <div class="divTableCell"><span class="msg_content">All the Lorem Ipsum generato0rs on the Internet tend</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-open"><p>Open</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo2.png" /></span> </div>
                    <div class="divTableCell"><span>There are many variations of passages of Lorem Ipsum </span></div>
                    <div class="divTableCell"><span class="msg_content">Contrary to popular belief, Lorem Ipsum is not simply random text.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo3.png" /></span> </div>
                    <div class="divTableCell"><span>Various versions have evolved over the years, sometimes </span></div>
                    <div class="divTableCell"><span class="msg_content">Various versions have evolved over the years, sometimes </span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-acknowledge"><p>Acknowledged</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo4.png" /></span> </div>
                    <div class="divTableCell"><span>Various versions have evolved over the years, sometimes
by accident,</span></div>
                    <div class="divTableCell"><span class="msg_content">Combined with a handful of model sentence structures, to generate </span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo5.png" /></span> </div>
                    <div class="divTableCell"><span>All the Lorem Ipsum generators on the Internet tend </span></div>
                    <div class="divTableCell"><span class="msg_content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-open"><p>Open</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo6.png" /></span> </div>
                    <div class="divTableCell"><span>You need to be sure there isn't anything embarrassing hidden</span></div>
                    <div class="divTableCell"><span class="msg_content">It has survived not only five centuries</span></div>
                   <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo7.png" /></span> </div>
                    <div class="divTableCell"><span>Various versions have evolved over the years, sometimes </span></div>
                    <div class="divTableCell"><span class="msg_content">From a Lorem Ipsum passage, and going through the cites of the word</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-open"><p>Open</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo8.png" /></span> </div>
                    <div class="divTableCell"><span>Sometimes on purpose (injected humour and the like</span></div>
                    <div class="divTableCell"><span class="msg_content">Combined with a handful of model sentence structures, to generate </span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo1.png" /></span> </div>
                    <div class="divTableCell"><span>Making this the first true generator on the Internet  It uses a
dictionary of over 200 Latin words</span></div>
                    <div class="divTableCell"><span class="msg_content">Recently with desktop publishing software like Aldus</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-open"><p>Open</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo2.png" /></span> </div>
                    <div class="divTableCell"><span>There are many variations of passages of Lorem Ipsum </span></div>
                    <div class="divTableCell"><span class="msg_content">Contrary to popular belief, Lorem Ipsum is not simply random text.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo3.png" /></span> </div>
                    <div class="divTableCell"><span>The standard chunk of Lorem Ipsum used since the 1500s is 
reproduced below for those interested</span></div>
                    <div class="divTableCell"><span class="msg_content">All the Lorem Ipsum generato0rs on the Internet tend</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-acknowledge"><p>Acknowledged</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo4.png" /></span> </div>
                    <div class="divTableCell"><span>There are many variations of passages of Lorem Ipsum </span></div>
                    <div class="divTableCell"><span class="msg_content">Contrary to popular belief, Lorem Ipsum is not simply random text.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo5.png" /></span> </div>
                    <div class="divTableCell"><span>All the Lorem Ipsum generators on the Internet tend </span></div>
                    <div class="divTableCell"><span class="msg_content">AContrary to popular belief, Lorem Ipsum is not simply random text. It has roots</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-open"><p>Open</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo2.png" /></span> </div>
                    <div class="divTableCell"><span>There are many variations of passages of Lorem Ipsum </span></div>
                    <div class="divTableCell"><span class="msg_content">Contrary to popular belief, Lorem Ipsum is not simply random text.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo3.png" /></span> </div>
                    <div class="divTableCell"><span>The standard chunk of Lorem Ipsum used since the 1500s is 
reproduced below for those interested</span></div>
                    <div class="divTableCell"><span class="msg_content">All the Lorem Ipsum generato0rs on the Internet tend</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-acknowledge"><p>Acknowledged</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo4.png" /></span> </div>
                    <div class="divTableCell"><span>There are many variations of passages of Lorem Ipsum </span></div>
                    <div class="divTableCell"><span class="msg_content">Contrary to popular belief, Lorem Ipsum is not simply random text.</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-resolve "><p>Resolve</p></button></span></div>
                </div><!--divTableRow-->
                <div class="divTableRow dt_body animated bounceInRight">
                    <div class="divTableCell pro_logo"><span class="logo_img"><img src="assets/images/logo5.png" /></span> </div>
                    <div class="divTableCell"><span>All the Lorem Ipsum generators on the Internet tend </span></div>
                    <div class="divTableCell"><span class="msg_content">AContrary to popular belief, Lorem Ipsum is not simply random text. It has roots</span></div>
                    <div class="divTableCell"><span><button class="btn-action btn-open"><p>Open</p></button></span></div>
                </div><!--divTableRow-->
            </div><!--divTableBody-->
        </div><!--divTable-->
    </div><!--list-entry-->
    <footer class="">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
          <div class="carousel-inner">
            <div class="item active animated slideInLeft">
              <a href="#">Open Alerts <span class="openbg">(15)</span></a>
            </div>

            <div class="item animated slideInRight">
                <a href="#">Resolve Alerts <span class="resolvebg">(58)</span></a>
            </div>

            <div class="item animated slideInRight">
              <a href="#">Acknowledged Alerts <span class="ackbg">(32)</span></a>
            </div>
          </div>
        </div>
    </footer>
    <!--=================== Alert Modal ======================-->
    <div id="alert_modal" class="modal alert_pop animated tada">
        <div class="modal-dialog">
            <div class="modal-content alert_content ">
                <div class="modal-body">
                    <div class="icon-alert faa-flash animated"><img src="assets/images/alert.png" /></div>
                    <p>Here’s a alert Message</p>
                    <div class="alert_action">
                        <button type="button" class="btn-alert ack"><p>Acknowledge</p></button>
                        <button type="button" class="btn-alert dismiss" data-dismiss="modal"><p>Dismiss</p></button>
                    </div>
                </div><!--modal-body-->
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div>
